<div>
  <ul>
    <li *ngFor="let mock of mocks; let i = index" [attr.data-index]="i" [class.selected]="mock.done">
      <span class="id">{{i + 1}}</span>
      <span class="value" (mouseenter)=[onHover(mock)]>{{mock.value | shortString}}</span>
      <button (click)=[onClick(mock)] [class.delete]="mock.done" [class.done]="!mock.done">
        <span *ngIf="!mock.done">
          <i class="fa fa-check done"></i>
        </span>
        <span *ngIf="mock.done">
          <i class="fa fa-trash"></i>
        </span>
      </button>
    </li>
  </ul>
  <form (ngSubmit)=[onSubmit(todoForm)] #todoForm="ngForm" class="todoForm">
    <label for="add-todo">
      <input type="text" name="add_todo" id="add-todo" [(ngModel)]="todo" placeholder="Add todo...">
    </label>
    <button type="submit" class="submit">
      <i class="fa fa-sign-in"></i>
    </button>
  </form>
</div>