<div class="container">
    <h1>Todos:</h1>
    <app-todolist (somethingHovered)="somethingHovered($event)"></app-todolist>
</div>
<div class="longTodo" [class.showTodo]="longCondition" [class.dontShowTodo]="!longCondition">{{longTodo.value}}</div>